/OauthActivity$$ViewInjector.java
/LoginActivity$$ViewInjector.java
/SinaOauthActivity$$ViewInjector.java
/QQOauthActivity$$ViewInjector.java
/GuideActivity$$ViewInjector.java
/TimelineActivity$$ViewInjector.java
/FollowListActivity$$ViewInjector.java
/AddCourseActivity$$ViewInjector.java
/FollowingListActivity$$ViewInjector.java
/FollowerListActivity$$ViewInjector.java
